body {
    background-color: aquamarine;
    text-align: center;
}

div {
    text-align: center;
}
.image1 {
    height: 500px;
    width: 500px;
    margin: auto;
    background-image: url("../../Media/image.jpg");
    background-position: center;
    background-size: cover;
    border-radius: 10%;
}
.image1:hover {
    color: blueviolet;
}

.rotate {
    height: 500px;
    width: 500px;
    object-fit: cover;
    object-position: right;
    border-radius: 50%;
    transition: all 0.5s;
}
.rotate:hover {
    transform: rotate(90deg);
}
.flexbox {
    display: flex;
    justify-content: space-around;
}
.column-count p {
    column-count: 5;
}
